Source: sffmpeg
Priority: optional
Section: video
Maintainer: Pierre-Yves Kerembellec <py.kerembellec@gmail.com>
Build-Depends: debhelper (>= 7), cmake (>= 2.8.8), pkg-config, autoconf, automake, libtool, git-core, mercurial, unzip, curl
Standards-Version: 3.7.2

Package: sffmpeg
Architecture: all
Description: Static build of the latest FFmpeg binaries
Provides: ffmpeg
Conflicts: ffmpeg
Replaces: ffmpeg
